.Item {
  @include font-sans(rem(18), #505f79, normal, normal);
  @include display(flex, space-between, center);

  position: relative;
  width: 100%;
  height: rem(50);

  line-height: rem(50);

  padding-right: rem(10);
  padding-left: rem(91);

  margin-right: rem(9);

  border: none;
  border-radius: 0 rem(50) rem(50) 0;

  text-decoration: none;
  background: none;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $active-color;
  }
}

.Left {
  @include crop-text();
}

.Badge {
  position: absolute;

  width: rem(10);
  height: rem(10);

  left: rem(51);
  top: 50%;

  transform: translateY(-50%);
  border-radius: rem(100);
}

.Active {
  background-color: $active-color;
}
