.Item {
  @include display(flex, space-between, center);

  width: 100%;
  height: rem(50);

  padding-right: rem(10);
  margin-right: rem(9);

  border-radius: 0 rem(50) rem(50) 0;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $active-color;
  }
}

.HideItem {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  margin-right: 0;
}

.Link {
  @include display(flex, space-between, center);

  @include font-sans(rem(18), #505f79, normal, normal);
  line-height: rem(50);
  width: 100%;
  height: 100%;
  text-align: left;

  padding-left: rem(10);

  border: none;
  text-decoration: none;
  background: none;
}

.HideLink {
  justify-content: center;
  padding-left: 0;
}

.Text {
  @include crop-text();
  width: 100%;
}

.Badge {
  min-width: rem(10);
  min-height: rem(10);

  margin-left: rem(40);
  margin-right: rem(32);
  border-radius: 100%;
}

.HideBadge {
  margin: 0;
}

.Active {
  background-color: $active-color;
}
