// https://engageinteractive.co.uk/blog/top-10-scss-mixins

// Media
$breakpoints: (
  'phone': 320px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);

@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Style flex
@mixin display($display, $content: center, $align: center) {
  display: $display;
  justify-content: $content;
  align-items: $align;
}

// Pseudo el creator
@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

// Fonts
@mixin font-sans(
  $size: false,
  $colour: false,
  $weight: normal,
  $style: normal,
  $lh: false
) {
  font-family: 'Open Sans', sans-serif;

  @if $size {
    font-size: $size;
  }

  @if $colour {
    color: $colour;
  }
  @if $weight {
    font-weight: $weight;
  }

  @if $style {
    font-style: $style;
  }

  @if $lh {
    line-height: $lh;
  }
}

// Crop text if it's long
@mixin crop-text(
  $padding-right: 10px,
  $text-overflow: ellipsis,
  $white-space: nowrap,
  $overflow: hidden
) {
  padding-right: $padding-right;
  text-overflow: $text-overflow;
  white-space: $white-space;
  overflow: $overflow;
}

// Center inner element with pos absolute
@mixin center-pos() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Reset button style
@mixin reset-btn() {
  padding: 0;
  background-color: transparent;
  border: none;
}
