$hover-color: #2684ff;
$hover-menu-color: #deebff;

$border-color: #e4e5e7;

$main-text-color: #505f79;

$placeholder-text-color: #979797;

$main-bg-color: #fafbfc;

$current-color: #64d2ff;

$active-color: #deebff;

$warning-color: #f44336;

$main-icon-sz: 26;
$menu-icon-sz: 24;
$menu-icon-sz-18: 18;
$clean-icon-sz: 28;

$transition-hover-color: color 0.2s ease-in-out;

$color-teal: #64d2ff;
$color-red: #ff453a;
$color-yellow: #ffd60a;
$color-green: #32d74b;
$color-indigo: #5e5ce6;
$color-purple: #bf5af2;
$color-pink: #ff375f;
$color-orange: #ff9f0a;
$color-default: #505f79;
