$hover-color: #2684ff;
$hover-menu-color: #deebff;

$border-color: #e4e5e7;

$main-text-color: #505f79;

$placeholder-text-color: #979797;

$main-bg-color: #fafbfc;

$current-color: #64d2ff;

$active-color: #deebff;

$warning-color: #f44336;

$main-icon-sz: 26;
$menu-icon-sz: 24;
$menu-icon-sz-18: 18;
$dots-icon-sz: 28;

$transition-hover-color: color 0.2s ease-in-out;
