.Item {
  @include display(flex, space-between, center);
  @include font-sans(rem(18), #505f79, normal, normal, rem(50));
  letter-spacing: 0.15px;

  position: relative;

  height: rem(50);

  &:not(:last-child) {
    margin-bottom: rem(8);
  }
}

.Link {
  @include display(flex, space-between, center);

  @include font-sans(rem(18), #505f79, normal, normal);
  line-height: rem(50);
  width: 100%;

  border: none;
  text-decoration: none;
  background: none;

  &:hover {
    cursor: pointer;
    color: $hover-color;
  }

  &:hover svg {
    color: $hover-color;
  }
}

.Left {
  @include display(flex, flex-start, center);
}

.Active {
  color: $hover-color;

  & svg {
    color: $hover-color;
  }
}
