.info {
  @include display(flex, space-between, center);
  width: 100%;
  height: rem(100);
  background-color: #fff;
  padding-left: rem(45);
  padding-right: rem(28);
}

.right {
  @include display(flex, space-between, center);
  min-width: 13%;
}

.borderBottomColor {
  &-teal {
    border-bottom: 4px solid $color-teal;
  }
  &-red {
    border-bottom: 4px solid $color-red;
  }
  &-yellow {
    border-bottom: 4px solid $color-yellow;
  }
  &-green {
    border-bottom: 4px solid $color-green;
  }
  &-indigo {
    border-bottom: 4px solid $color-indigo;
  }
  &-purple {
    border-bottom: 4px solid $color-purple;
  }
  &-pink {
    border-bottom: 4px solid $color-pink;
  }
  &-orange {
    border-bottom: 4px solid $color-orange;
  }
  &-default {
    border-bottom: 4px solid $color-default;
  }
}
