.Picture {
  width: rem(45);
  height: rem(45);

  margin-right: rem(25);
  border-radius: 50%;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }
}

.BorderColor {
  &-teal {
    border: 2px solid $color-teal;
  }
  &-red {
    border: 2px solid $color-red;
  }
  &-yellow {
    border: 2px solid $color-yellow;
  }
  &-green {
    border: 2px solid $color-green;
  }
  &-indigo {
    border: 2px solid $color-indigo;
  }
  &-purple {
    border: 2px solid $color-purple;
  }
  &-pink {
    border: 2px solid $color-pink;
  }
  &-orange {
    border: 2px solid $color-orange;
  }
  &-default {
    border: 2px solid $color-default;
  }
}
