.Picture {
  width: rem(45);
  height: rem(45);

  margin-right: rem(25);
  border-radius: 50%;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }
}

.BorderColor {
  &-teal {
    border: 2px solid #64d2ff;
  }
  &-red {
    border: 2px solid #ff453a;
  }
  &-yellow {
    border: 2px solid #ffd60a;
  }
  &-green {
    border: 2px solid #32d74b;
  }
  &-indigo {
    border: 2px solid #5e5ce6;
  }
  &-purple {
    border: 2px solid #bf5af2;
  }
  &-pink {
    border: 2px solid #ff375f;
  }
  &-orange {
    border: 2px solid #ff9f0a;
  }
  &-default {
    border: 2px solid #505f79;
  }
}
