.Picture {
  width: rem(54);
  height: rem(54);

  margin-right: rem(25);
  border: 3px solid #2684ff;
  border-radius: 50%;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
  }
}
