.Input {
  @include display(flex, center, center);

  width: 100%;
  max-width: rem(562);

  & input {
    @include font-sans(rem(16), $main-text-color, normal, normal, rem(28));

    letter-spacing: 0.4px;

    width: 100%;

    border: none;
    background-color: transparent;
    appearance: none;

    &::placeholder {
      @include font-sans(rem(16), $placeholder-text-color, normal, normal);
      letter-spacing: 0.4px;
    }

    &:search-cancel-button {
      display: none;
    }
  }
}

.Icon {
  width: rem(18);
  height: rem(18);

  color: $main-text-color;
  margin-right: rem(11);

  &:hover {
    cursor: pointer;
    animation-name: search;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes search {
  0% {
    transform: translate(0px, 0px);
  }
  15% {
    transform: translate(-1px, 1px);
  }
  28% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-3px, 1px);
  }
  54% {
    transform: translate(-4px, 0px);
  }
  67% {
    transform: translate(-3px, -1px);
  }
  76% {
    transform: translate(-2px, -2px);
  }
  88% {
    transform: translate(0px, -1px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
