.Header {
  @include display(flex, space-between, center);

  padding-left: rem(41);
  padding-right: rem(22);

  background: $main-bg-color;
  border-bottom: 1px solid #e4e5e7;

  grid-area: header;

  z-index: z('header')
}

.Left {
  @include display(flex, flex-start, center);
  width: rem(960);

  padding-right: rem(22);
}
