.Header {
  @include display(flex, flex-end, center);

  padding-left: rem(41);
  padding-right: rem(22);

  background: $main-bg-color;
  border-bottom: 1px solid #e4e5e7;

  grid-area: header;

  z-index: z('header')
}
