.Sidebar {
  display: flex;

  flex-direction: column;

  background-color: $main-bg-color;
  border-right: 1px solid $border-color;

  height: 100%;

  padding-top: rem(29);
  padding-bottom: rem(34);

  grid-area: nav;
}

.Hide {
  align-items: center;
}
