.taskTitle {
  margin-bottom: rem(10);
  max-width: rem(400);

  & h3 {
    @include crop-text();
    @include font-sans(null, $main-text-color, normal, normal, 1.3);
    letter-spacing: 0.15px;
  }
}
