@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/assets/fonts/OpenSans-Regular.eot'),
    url('/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
    url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('/assets/fonts/OpenSans-Bold.eot'),
    url('/assets/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/OpenSans-Bold.woff2') format('woff2'),
    url('/assets/fonts/OpenSans-Bold.woff') format('woff'),
    url('/assets/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
