/* Global styles */
:global {
  .mr-r-21 {
    margin-right: rem(21);
  }

  .bgColor {
    &-teal {
      background-color: $color-teal;
    }
    &-red {
      background-color: $color-red;
    }
    &-yellow {
      background-color: $color-yellow;
    }
    &-green {
      background-color: $color-green;
    }
    &-indigo {
      background-color: $color-indigo;
    }
    &-purple {
      background-color: $color-purple;
    }
    &-pink {
      background-color: $color-pink;
    }
    &-orange {
      background-color: $color-orange;
    }
    &-default {
      background-color: $color-default;
    }
  }
}
/* End global */
